@import "src/styles/variables";

.container {
  display         : flex;
  flex-direction  : row;
  align-items     : flex-start;
  justify-content : flex-start;
  flex            : 1 1 auto;
  padding         : 0 2em;
}

.side__left {
  display         : flex;
  flex-direction  : column;
  align-items     : flex-start;
  justify-content : center;
  gap             : 1em;
  color           : white;
  width           : 60%;
}

.side__right {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  gap             : 1em;
  color           : white;
  width           : 40%;
}

.postTitle {
  font-size      : 3em;
  font-weight    : lighter;
  color          : $white;
  text-transform : uppercase;
}

.commentContainer {
  display         : flex;
  flex-direction  : row;
  align-items     : center;
  justify-content : center;
  gap             : 1em;
  width           : 100%;
}

.commentButtons {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    gap             : 1em;
    width           : 10em;
}

.column {
    display         : flex;
    flex-direction  : column;
    align-items     : center;
    justify-content : center;
    gap             : 1em;
    width           : 100%;
}

.glow {
    filter : drop-shadow(0 0 10px $color-pink-glow);
}

.rowNotation {
  display         : flex;
  flex-direction  : row;
  align-items     : center;
  justify-content : center;
  gap             : 1em;
  width           : 100%;
  font-size       : 3em;
  user-select     : none;

  .note {
    display         : flex;
    gap             : .2em;
    justify-content : center;
    align-items     : center;
  }
}


.postCreatedAt {
  margin-top        : 0;
  font-size         : 1em;
}

.postContent {
    font-size         : 1.5em;
    font-weight       : lighter;
    color             : $white;
    text-align        : justify;
}

.postContent > p {
  margin-top          : 0.25em;
  margin-bottom       : 0;
}

.noMarginBottom {
    margin-bottom     : 0;
}