@import "./fonts/font";
@import "variables";


// Global styles
html {
  background-color : $color-bg;
}

* {
  box-sizing : border-box;
}

html, body, #root {
  margin      : 0;
  padding     : 0;
  font-family : "Beon", sans-serif;
}

html, body {
    height : 100%;
}

#root {
  display        : flex;
  flex-direction : column;
}

.glow {
  color: $white;
  text-shadow: 0 0 10px $color-pink-glow, 0 0 20px $color-pink-glow, 0 0 40px $color-pink-glow, 0 0 80px $color-pink-glow;
}


::-webkit-scrollbar {
  width: 0;
}

//::-webkit-scrollbar-track {
//  background: none;
//}
//
//::-webkit-scrollbar-thumb {
//  background: $color-pink-glow;
//}
//
//::-webkit-scrollbar-thumb:hover {
//  background: darken($color-pink-glow, 15%)
//}