@import "src/styles/variables";

.container {
  width           : 20em;
  display         : flex;
  justify-content : flex-end;
  align-items     : flex-start;
  padding         : 0 1em;
  flex            : inherit;
  flex-direction  : column;
  background-size : cover;
  height          : 20em;
  border-radius   : 1em;
  cursor          : pointer;
}


.section {
  display         : flex;
  align-items     : baseline;
  justify-content : center;
  color           : $white;
  flex-direction  : column;

  .link {
    color           : $white;
    text-decoration : none;
    font-size       : 2em;
  }

  h2 {
    text-transform : capitalize;
    margin         : 0;
    font-size      : 2em;
  }
}

.author {
  font-size  : 0;
  opacity    : 0;
  transition : all .3s ease-in-out;
  margin     : .5em 0;


  a {
    color           : $white;
    font-size       : 1em;
    text-decoration : none;

    i {
      text-decoration : underline $color-pink-glow;
      &:hover {
        color : $color-pink-glow;
      }

    }
  }
}

.container:hover .author {
  opacity   : 1;
  font-size : 1em;
}


h2 {
  color       : $white;
  font-size   : 3em;
  font-weight : lighter;
}