.container {
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  flex            : 1 1 auto;
}

.section {
    display         : flex;
    align-items     : baseline;
    justify-content : center;
    gap             : 1em;
    color           : white;
}